@tailwind base;
@tailwind components;
@tailwind utilities;

/* ここに少しだけ補足のデザインを書きます */
@layer base {
  body {
    @apply antialiased text-slate-800;
  }
}

@keyframes spin-slow {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.animate-spin-slow {
  animation: spin-slow 12s linear infinite;
}